@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");

$darkblue: #00008b;
$whitesmoke: whitesmoke;
$icon-color: #40acf1;
$icon-color-hover: #292f36;
$transparentBlue: rgba(64, 172, 241, 0.7);
$mainYellow: #e3b505;
$mainGrey: rgb(216, 214, 214);
$mainBlue: #40acf1;
